body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url('img/background3.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.main-wrapper {
    width: 100%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-sm {
    width: 40vw;
    background: rgba(255, 255, 255, 0.85) !important;
    backdrop-filter: blur(10px);
    border-radius: 1em;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

#form-header-1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4rem;
    margin-bottom: 2rem;
    margin-top: 0;
    text-align: center;

    color: #936b6b;
    text-transform: lowercase;
    letter-spacing: 10px;

    text-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.form-label {
    margin-bottom: 1em;
}

#shortened-link {
    color:#936b6b
}